<section class="slider">
  <p class="what_say">ЧТО ГОВОРЯТ УЧАСНИКИ ТРЕНИНГА</p>
  <swiper [config]="config">
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <p>
          “Благодарю за сегодняшнею встречу, интересно было разобрать психотипы гостей. Считаю, что это
          очень важно в работе официанта, т к при правильном выборе подхода к конкретному типу гостя , мы
          получаем 100% результат в виде его любви к ресторану и только хорошие отзывы.”
        </p>
        <span class="author_name">Ирина</span>
        <span class="author_title">официант</span>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <p>
          “О о тренинге, было классно отработать сразу классификации типов на наших Российских селебрети и
          селебрети нашего ресторана. Круто когда сразу после теории практика. Я бы еще хотела таких
          практик. Ну и вообще было весело, покрайней мере за нашим столиком”
        </p>
        <span class="author_name">Федор</span>
        <span class="author_title">бармен</span>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <p>
          “Тренинг понравился. Всё было легко и комфортно. Понравилось то, что каждому было уделено
          внимание в формате знакомства. Понравилось, что поставили цели и задачи. Присутствует интерес
          изучать и работать дальше. Хочу изучить новую литературу, создавать более сплоченную команду и
          научить ребят работать в своё удовольствие и передать весь свой опыт в данной сфере ”
        </p>
        <span class="author_name">Анастасия</span>
        <span class="author_title">менеджер</span>
      </div>
    </ng-template>
  </swiper>

  <div class="swiper-button-prev swiper_action"><img src="/assets/images/icons/arrow-slider.svg" alt=""></div>
  <div class="swiper-button-prev swiper_mobil_prev"><img src="/assets/images/icons/arrow-mob.svg" alt=""></div>
  <div class="swiper-button-next swiper_action"><img src="/assets/images/icons/arrow-action-next.svg" alt=""></div>
  <div class="swiper-button-next swiper_mobil_next"><img src="/assets/images/icons/arrow-mob.svg" alt=""></div>

</section>


