@font-face {
  font-family: Syne, sans-serif;
  src: url("../fonts/Syne.ttf");
}

@font-face {
  font-family: PlusJakartaSans-Regular, sans-serif;
  src: url("../fonts/PlusJakartaSans-Regular.ttf");
}
