@media screen and (max-width: 1450px){
  .container {
    margin: 15px 15px 0 15px;
    overflow: hidden;
  }
}
@media screen and (max-width: 1236px) {
  .footer_info:before {
    left: -28px;
  }
}

@media screen and (max-width: 1171px) {
  .footer_item {
    flex-direction: column;
    grid-gap: 50px;
  }
  .footer_logo {
    order: 1;
  }
  .footer_description {
    display: none;
  }
  .footer_info {
    justify-content: center;
  }
  .footer_info:before {
    border-left: none;
  }

}

@media screen and (max-width: 993px) {
  .modal_view_items {
    max-width: 490px;
  }
}

@media screen and (max-width: 890px) {
  .modal_view_items {
    max-width: 441px;
  }
}

@media screen and (max-width: 771px) {
  .useful {
    display: none;
  }
}

@media screen and (max-width: 668px) {
  .modal_view_items {
    max-width: 421px;
  }
}

@media screen and (max-width: 630px) {
  .container {
    padding: 30px 47px 50px 48px;
  }
}

@media screen and (max-width: 584px) {
  .footer_end {
    grid-gap: 16px;
    flex-direction: column;
  }
}

@media screen and (max-width: 504px) {
  .button_main {
    font-size: 14px;
    padding: 8px 21px;
  }
  .branding_image {
    height: 295px;
  }
}

@media screen and (max-width: 486px) {
  .container {
    padding: 30px 25px 50px 25px;
  }
}

@media screen and (max-width: 475px) {
  .burger_nav_items {
    width: 250px;
  }
}

@media screen and (max-width: 464px) {
  .modal_view_items {
    max-width: 400px;
  }
}

@media screen and (max-width: 458px) {
  .image_main_big {
    height: 176px;
  }
}


@media screen and (max-width: 428px) {
  .branding_description h2 {
    width: 232px;
  }
}

@media screen and (max-width: 376px) {
  .logo-item {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    grid-gap: 15px;
  }
}

