@import "../../../assets/styles/root";

.featured_work {
  display: flex;
  justify-content: space-between;
  padding-top: 68px;
  padding-bottom: 76px;
  border-bottom: 1px solid $color-border;
  border-top: 1px solid black;
  margin-top: 50px;

  .featured_work_description{
    h2 {
      width: 321px;
      margin: 0;
      padding: 8px 0 23px 0;
      font-family: Syne, serif;
      font-size: 40px;
      font-weight: 600;
      line-height: 40px;
    }
  }


  .featured_description{

    .featured_first {
      display: flex;
      grid-gap: 220px;

      .branding{
        &:before {
          content: '';
          border-bottom: 1px solid $color-border;
          width: 250px;
          position: absolute;
          bottom: -45px;
          left: -88px;
        }
        &:hover .icon_featured {
          transform: scale(1.5);
        }
      }
      .ui-desing{
        &:after {
          content: '';
          border-left: 1px solid $color-border;
          height: 150px;
          position: absolute;
          bottom: 0px;
          left: -154px;
        }
        &:hover .icon_featured {
          transform: scale(1.5);
        }

      }

    }
    .featured_second {
      padding-top: 85px;
      display: flex;
      grid-gap: 220px;
      .marketing{
        &:after {
          content: '';
          border-left: 1px solid $color-border;
          height: 150px;
          position: absolute;
          bottom: 0px;
          right: -67px;
        }
        &:hover .icon_featured {
          transform: scale(1.5);
        }
      }

      .content{
        &:after {
          content: '';
          border-top: 1px solid $color-border;
          width: 250px;
          position: absolute;
          top: -45px;
          left: -88px;
        }
        &:hover .icon_featured {
          transform: scale(1.5);
        }
      }
    }
  }
}

.featured_item {
  width: 164px;
  position: relative;

  h2 {
    margin: 0;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    color: $color-title;
  }
  p {
    margin: 0;
    padding-bottom: 25px;
    font-family: PlusJakartaSans-Regular, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: $color-text;
  }
  a {
    margin-top: 25px;
    text-decoration: none;
    font-size: 13px;
    line-height: 18px;
    color: rgba(0, 0, 0, 1);
    position: relative;
    &:after {
      content: '';
      background-image: url("../../../assets/images/icons/arrow.svg");
      position: absolute;
      width: 12px;
      height: 12px;
      top: -1px;
      right: -14px;
    }
  }
  .icon_featured {
    position: absolute;
    top: 8px;
    left: -89px;
    width: 50px;
    height: 50px;
    transition: 1s;
    img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 1210px){
  .featured_work{
    flex-direction: column;
    grid-gap: 50px;

    .featured_work_description {
      margin: 0 auto;
      width: 570px;
      h2 {
        width: 100%;
      }
      p {
        width: 100%;
      }
    }
    .featured_description{
      margin: 0 auto;
      .featured_first {
        padding-left: 90px;
        grid-gap: 140px;
        .ui-desing{
          &:after {
            left: -112px;
            bottom: 5px;
          }
        }
      }
      .featured_second {
        padding-left: 90px;
        grid-gap: 140px;
        .marketing{
          &:after {
            right: -29px;
            bottom: 8px;
          }
        }
        .content{
          &:after {
            top: -43px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 732px){
  .featured_work{
    flex-direction: column;
    grid-gap: 50px;

    .featured_work_description {
      width: 461px;
      h2 {
        width: 321px;
      }
      p {
        width: 370px;
      }
    }
    .featured_description{
      width: 297px;
      .featured_first {
        flex-direction: column;
        grid-gap: 93px;
        .ui-desing{
          &:after {
            border-left: none;
          }
        }
      }
      .featured_second {
        flex-direction: column;
        grid-gap: 93px;
        .marketing{
          &:after {
            border-left: none;
            border-top: 1px solid rgb(0, 0, 0);
            top: -39px;
            left: -86px;
            width: 254px;
          }
        }
        .content{
          &:after {
            top: -43px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 644px){
  .featured_work{
    .featured_work_description {
      margin: 0;
    }
  }
}
@media screen and (max-width: 486px){
  .featured_work{
    .section_title{
      h2 {
        font-size: 33px;
        line-height: 31px;
      }
      p {
        font-size: 14px;
      }
    }
  }

}
@media screen and (max-width: 434px) {
  .featured_work{
    .featured_work_description{
      p{
        width: 284px;
      }
    }
    .featured_description{
      .featured_item{
        h2 {
          font-size: 23px;
        }
        p {
          font-size: 13px;
        }
      }
    }
  }
}
