@import "../../../assets/styles/root";

.main {
  padding-top: 181px;
  position: relative;

  .main_title {
    font-family: Syne, serif;
    margin: 50px auto;
    max-width: 795px;
    text-align: center;
    font-size: 52px;
    line-height: 73px;
    color: $color-title;

    span {
      display: block;
    }
  }

  .icon_main {
    position: absolute;
    top: 100px;
    right: 215px;
    width: 80px;

    img {
      width: 100%;
    }
  }

  .image_main_small {
    width: 370px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    top: 70px;

    img {
      width: 100%;
    }
  }

  .main_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .main_content_item {
      padding-top: 45px;

      .main_content_text {
        margin: 0;
        padding-bottom: 39px;
        max-width: 470px;
        font-family: PlusJakartaSans-Regular, sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: $color-text;
      }

    }

    .image_main_big {
      max-width: 570px;
      height: 370px;
      border-radius: 12px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .icon_main_bottom {
      position: absolute;
      left: -24px;
      bottom: -20px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .main {
    .image_main_small {
      display: none;
    }
  }
}
@media screen and (max-width: 1210px) {
  .main {
    .main_content {
      justify-content: center;

      .main_content_item {
        width: 570px;
        order: 1;

        .main_content_text {
          max-width: 570px;
        }
      }
    }
  }
}
@media screen and (max-width: 993px) {
  .main {
    .main_title {
      font-size: 50px;
      line-height: 60px;
    }

    .main_content {
      .icon_main_bottom {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 899px){
  .main{
    .main_title {
      font-size: 45px;
    }
  }
}
@media screen and (max-width: 771px) {
  .main {
    padding-top: 113px;

    .icon_main {
      top: 59px;
      width: 60px;
    }
  }
}
@media screen and (max-width: 732px) {
  .main {
    .main_title {
      font-size: 43px;
      line-height: 48px;
    }

    .main_content {
      .main_content_item {
        width: 100%;
      }

      .image_main_big {
        height: 313px;
      }
    }
  }
}
@media screen and (max-width: 644px) {
  .main {
    .main_title {
      font-size: 43px;
      line-height: 48px;
    }

    .main_content {
      .image_main_big {
        height: 270px;
      }
    }
  }
  .modal{
    .modal-content{
      margin: 0 15px;
    }
  }
}
@media screen and (max-width: 584px) {
  .main {
    .main_content {
      .image_main_big {
        height: 231px;
      }
    }
  }
}
@media screen and (max-width: 566px) {
  .main {
    .main_title {
      font-size: 34px;
    }
  }
}
@media screen and (max-width: 504px){
  .main {
    .main_content {
      .image_main_big {
        height: 210px;
      }
    }
  }
}
@media screen and (max-width: 486px){
  .main{
    .main_content{
      .main_content_item{
        .main_content_text {
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 458px){
  .main {
    padding-top: 91px;
    .main_title {
      font-size: 29px;
      line-height: 34px;
    }
    .icon_main {
      top: 46px;
      right: 136px;
      width: 49px;
    }
  }
}
@media screen and (max-width: 428px){
  .main{
    padding-top: 63px;
    .icon_main {
      top: 29px;
    }
    .main_content {
      .image_main_big {
        height: 142px;
      }
    }
  }
}
@media screen and (max-width: 376px) {
  .main{
    .main_title {
      font-size: 25px;
      line-height: 29px;
    }
  }

}
@media screen and (max-width: 332px){
  .main{
    .main_title {
      font-size: 22px;
    }
  }

}
