<section class="main" id="main">
  <h1 class="main_title"><span>Комплексное</span> обучение сотрудников ресторана</h1>
  <div class="icon_main">
    <img src="assets/images/image/abstract-shape.png" alt="icon">
  </div>
  <div class="image_main_small">
    <img src="assets/images/image/person.png" alt="person">
  </div>

  <div class="main_content">
    <div class="main_content_item">
      <p class="main_content_text">
        В Сочи, где сфера обслуживания является одной из наиболее востребованных, существует определенный
        запрос на повышение уровня сервиса.
      </p>
      <button class="button_main button" (click)="openModal()">Узнать больше
        <span>
          <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0 7.4307C0 7.06251 0.2736 6.75823 0.628578 6.71007L0.727264 6.70343L15.2725 6.70343C15.6742 6.70343 15.9998 7.02904 15.9998 7.4307C15.9998 7.79888 15.7262 8.10316 15.3712 8.15132L15.2725 8.15796L0.727264 8.15796C0.325607 8.15796 0 7.83235 0 7.4307Z"
              fill="white"/><path
            d="M8.89298 2.10436C8.60836 1.82096 8.60737 1.36048 8.89077 1.07585C9.14841 0.817104 9.55239 0.792763 9.83755 1.0034L9.91927 1.07364L15.7859 6.91502C16.0454 7.17343 16.069 7.57887 15.8567 7.86403L15.7859 7.9457L9.91931 13.7881C9.63471 14.0715 9.17424 14.0705 8.89081 13.7859C8.63315 13.5272 8.61052 13.1231 8.82235 12.8388L8.89294 12.7574L14.2418 7.43009L8.89298 2.10436Z"
            fill="white"/>
          </svg>
        </span>
      </button>
    </div>
    <div>
      <div class="image_main_big">
        <img src="assets/images/image/etiket.png" alt="etiket">
      </div>
    </div>
    <div class="icon_main_bottom">
      <img src="assets/images/icons/Group2.svg" alt="">
    </div>
  </div>

</section>


<div class="modal" [class.modal-show]="isOpen">
  <div class="modal-content" [class.modal-content-show]="isOpen" #content>
    <h2>Сочи</h2>
    <div>
      <p>В Сочи с каждым годом возрастает запрос на качественный сервис.</p>
      <p>
        Это связано с тем, что многие люди приезжают в город на отдых, но не задерживаются надолго. Сотрудники
        большинство ресторанов и кафе считают, что нет необходимости вкладывать силы и время в каждого гостя и
        предоставлять ему наилучший сервис. А иногда этим просто некогда заниматься.
      </p>
      <p>Однако, повышение уровня
        обслуживания может привести к увеличению прибыли и улучшению репутации заведения.
        Потребность в обучении или тренинг менеджере становится более очевидной.
        План развития города 2030 неизбежно приближает эту потребность.
      </p>
      <p> Гость становится более требовательный. Этот факт прослеживается в отзывах.
        Соц сети не оставляют нам права на ошибки.
      </p>
      <p>Гости с лёгкостью делятся своими впечатлениями о заведении со
        своими подписчиками и на общих поисковых площадках.
        Обслуживание должно быт на высоте! Всегда!
      </p>
    </div>



  </div>

  <div class="close" (click)="closeModal()">
    <img src="assets/images/icons/close.svg" alt="">
  </div>
</div>
