<div class="training" id="training">
  <h2>Тренинг</h2>
  <div>
    Тренинги — это полное погружение в одну тематику с разбором всех возражений и примерами из практики.
    Тренинг
    рассчитан на 5-6 часов работы с одним кофе брейком.
    Каждый участник получит рабочую тетрадь и 3-х месячную подписку на платный канал «Тренинг менеджер» в
    подарок. Первый тренинг «Портрет идеального официанта»
    Soft skills личные навыки.
  </div>

  <div class="training-content">
    <div>
      <ul>
        <li>Работа с возражениями и отзывы</li>
        <li>Вкусные слова как продавать дорого</li>
        <li>Типология гостей</li>
        <li>Wow эффект</li>
        <li>Эмоциональный интеллект</li>
        <li>Конфликты (система Last)</li>
        <li>Лидеры и команда</li>
        <li>Мотивация и KPI</li>
        <li>Гость на миллион.</li>
        <li>Hard skills профессиональные навыки.</li>
        <li>Ресторан — это система (шаги сервиса и системный подход)</li>
        <li>Основы сервиса (стандарты обслуживания)</li>
        <li>Методы продаж 1 часть</li>
        <li>Методы продаж 2 часть</li>
        <li>Наполняемость чека</li>
        <li>Финансовая грамотность</li>
      </ul>
    </div>

    <div class="training-image">
      <img src="assets/images/image/training.png" alt="training">
    </div>
  </div>


  <div class="action-modal">
    <button class="service-btn">Получить консультацию</button>
  </div>
</div>
