<div class="make">
  <h2>Как мы это делаем</h2>
  <div>Аудит, анализ, выявление демотиваторов и их устранение.</div>
  <div>
    <ul>
      <li>Работа с руководящим составом + мотивация. Обучения наставничества.</li>
      <li>Тренинги + приложение по обучению.</li>
      <li>Создание обучающего меню.</li>
      <li>Командообразование, ритуалы, традиции, геймификация обучения.</li>
      <li>Создание базы и правил обучения на будущее.</li>
      <li>Создание ценностей, миссии и целей для команды сотрудников.</li>
      <li>Создание мотивационных плакатов и работа с информационной доской.</li>
      <li>Создание плакатов сотрудники месяца.</li>
      <li>Создание ритуалов и традиций.</li>
      <li>5-ти минутки с зарядом на весь день.</li>
      <li>Развитие коммуникативных навыков.</li>
      <li>Создание мотивирующего KPI для всех подразделений.</li>
      <li>Формируем вместе с ребятами портрет идеального официанта.</li>
      <li>Изучаем типологии гостей. И особенности их обслуживания.</li>
      <li>Определяем какие проблемные зоны есть в ресторане и фиксируем их.</li>
      <li>Углубляемся в понимание системы работы ресторанного бизнеса.</li>
      <li>Изучаем, что такое WOW- эффект и как его достичь.</li>
      <li>Конфликтные ситуации и как с ними работать.</li>
      <li>После каждого тренинга сотрудникам будет открыт доступ в приложении к детальной информации по
        пройденной теме и тесту к нему.
      </li>
      <li>Примеры обслуживания с фразами.</li>
      <li>Чек листы и стандарты.</li>
      <li>Обучающие меню с красочным описанием.</li>
      <li>Правила поведения при проверке.</li>
      <li>Учебники для менеджеров.</li>
      <li>Работа в системе iiko или R-keeper.</li>
      <li>Контроль обучения и статистика.</li>
      <li>Эмоциональный интеллект, что это такое и как им управлять.</li>
      <li>Отзывы гостей как инструмент для уверенности в своих силах.</li>
      <li>В игровой форме прорабатываем взаимодействие с гостями.</li>
      <li>Каждый треннинг завершается дегустацией блюд и знакомством с барными напитками.</li>
      <li>Формируем уверенность ребят в работе с гостем и инициативу в продажах.</li>
      <li>Обсуждаем как в коллективе создать атмосферу поддержки и дружелюбия.</li>
      <li>Учимся решать внутренние конфликты а не копить их.</li>
      <li>Изучаем все существующие методики продаж, и как их совмещать для максимального результата.</li>
      <li>Стандарты обслуживания как самый важный инструмент в сервисе.</li>
      <li>Детально изучаем 6 шагов сервиса.</li>
      <li>Уделяем целый треннинг правильному взаимодействиям между подразделениями бара, кухни и зала.
      </li>
      <li>По каждому изученному материалу назначается практическое задание и разбор обратной связи.</li>
      <li>Включаем всех сотрудников в процесс вовлечённости улучшения заведения.</li>
      <li>Запускаем соревнования между официантами за отзывы, выручки, и показатели по ср. чеку.</li>
      <li>На каждом тренинге уделяем время для развития коммуникативных навыков.</li>
      <li>Подключаем ресторан к каналу и чату где каждый день мотивируем ребят и даём полезную
        информацию.
      </li>
    </ul>
  </div>

</div>
