<div class="subscription">
  <h2>Подписка</h2>
  <div>Годовая подписка это: постоянное обучение и отработка на практике всех полученных знаний. В подписку
    входят оба курса обучения, и подготовка наставников, которые в будущем также продолжат непрерывное
    обучение. Внедрение всех инструментов мотивации и сопровождение результатов. Также после прохождения
    курсов следует закрепление и контроль полученных навыков. Уделим особое внимание обучение
    менеджеров, а
    также поможем выстроить работу согласно целям и планам владельца. Составим годовой план развития на
    этот
    и следующий год.
  </div>
  <div>
    <ul>
      <li>Аудит и анализ (срок от недели до 1 месяца в зависимости от масштабов заведения)</li>
      <li>Тестирование сотрудников</li>
      <li>Определение уровня УЛВ (удовлетворённость, лояльность, вовлечённость)</li>
      <li>Анализ управленческих компетенций. (менеджеры)</li>
      <li>Выявление слабых зон и формирование программы обучения.</li>
      <li>Два занятия в неделю с персоналом отдельной категории (Хостес, официанты, менеджеры) группа до
        15
        человек. Все представленные темы мы изучим.
      </li>
      <li>Группа в соц. сетях ежедневной полезной информацией.</li>
      <li>Создание мотивационных плакатов</li>
      <li>Создание соревнования на сотрудника месяца</li>
      <li>Организация ежедневных кросс-тренингов на 5-тиминутках</li>
      <li>Создание общих традиций и ритуалов.</li>
      <li>Создание общего приложения Эквио по обучению и адаптации персонала</li>
      <li>Создание стандартов</li>
      <li>Еженедельный отчёт деятельности и результата.</li>
      <li>Домашние задания для персонала</li>
      <li>Предоставление учебной литературы.</li>
    </ul>
  </div>

  <div class="action-modal">
    <button class="service-btn">Получить консультацию</button>
  </div>
</div>
