<div class="secret-guest">
  <h2>Тайный гость</h2>
  <div>Тайный гость — это технология тайной оценки качества обслуживания и проверки контактного персонала и
    определения качества приготовления и оформления блюд, согласно восприятию концепции и ценового
    сегмента
    заведения. Для качественной работы мы запрашиваем существующие стандарты, меню и барную карту.
  </div>
  <div>Данная услуга поможет понять на каком уровне ваш сервис, продажи, чистота и самое важное
    коммутативные
    навыки персонала.
  </div>
  <div class="action-modal">
    <button class="service-btn">Получить консультацию</button>
  </div>
</div>
