@import "../../../assets/styles/root";

.portfolio {
  display: flex;
  justify-content: space-between;
  padding: 76px 0 81px 0;
  border-bottom: 1px solid $color-border;
  position: relative;
  flex-wrap: wrap;

  .portfolio_description {
    h2 {
      width: 302px;
    }

    p {
      width: 370px;
    }
  }

  .portfolio_items {
    padding-left: 65px;
    display: flex;
    flex-direction: column;
    grid-gap: 41px;
    border-left: 1px solid $color-border;
    width: 670px;

    .portfolio_item {
      max-width: 670px;
      height: 150px;
      background: rgba(0, 0, 0, 1);
      border-radius: 15px;
      transition: 0.5s linear;
      position: relative;
      overflow: hidden;

      .portfolio_item_image {
        max-width: 670px;
        height: 150px;
        border-radius: 15px;
        overflow: hidden;
        transition: 0.5s linear;

        img {
          width: 100%;
        }
      }
      .portfolio_image {
        height: 300px;
      }
      .portfolio_item_action {
        padding: 28px 18px;
        display: none;
        justify-content: space-between;
        align-items: center;
        transition: 1s linear;

        p {
          margin: 0;
          font-family: Syne, serif;
          font-size: 24px;
          color: rgba(255, 255, 255, 1);
          transition: 1s linear;
        }

        .portfolio_view {
          color: black;
          background: $background-body;

          &:hover {
            background: $background-body;
          }
        }
        button {
          padding: 8px 15px;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          img {
            margin-left: 14px;
          }
        }

      }
      .portfolio_action {
        display: flex;

        p {
          transform: translateX(-100%);
          animation: ani 1s forwards;
        }

        button {
          transform: translateX(100%);
          animation: ani2 1s forwards;
        }
      }
    }
    .portfolio_item_section {
      height: 390px;
    }

  }
  .icon_portfolio {
    position: absolute;
    left: -24px;
    bottom: 76px;
  }
}



@keyframes ani {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes ani2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1300px){
  .portfolio{
    .portfolio_items {
      padding-left: 35px;
    }
  }
}
@media screen and (max-width: 1236px){
  .portfolio{
    grid-gap: 50px;
    justify-content: center;
    .portfolio_items {
      border-left: none;
      padding-left: 0;
    }
    .portfolio_description {
      width: 634px;
      h2 {
        width: 100%;
        margin: 0 auto;
      }
      p {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 993px){
  .portfolio{
    .icon_portfolio {
      left: -24px;
      bottom: -4px;
    }
  }

}
@media screen and (max-width: 890px){
  .portfolio{
    .icon_portfolio {
      display: none;
    }
  }
}
@media screen and (max-width: 732px){
  .portfolio{
    .portfolio_description{
      width: 386px;
      h2 {
        width: 302px;
        margin: 0;
      }
      p {
        width: 370px;
      }
    }
    .portfolio_items{
      .portfolio_item{
        .portfolio_item_action{
          p {
            font-size: 18px;
          }
        }
        .portfolio_image {
          height: 250px;
        }
      }
      .portfolio_item_section {
        height: 329px;
      }
    }
  }
}
@media screen and (max-width: 644px){
  .portfolio {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 630px){
  .portfolio {
    .portfolio_items{
      .portfolio_item{
        .portfolio_item_action {
          padding: 16px 18px;
        }
        .portfolio_image {
          height: 182px;
        }
      }
      .portfolio_item_section {
        height: 253px;
      }
    }
  }
}
@media screen and (max-width: 486px){
  .portfolio {
    .portfolio_description{
      p {
        width: 332px;
      }
    }
  }
}
@media screen and (max-width: 475px){
  .portfolio {
    .portfolio_items{
      .portfolio_item{
        .portfolio_image {
          height: 134px;
        }

        .portfolio_item_action{
          button {
            padding: 5px 8px;
            font-size: 11px;
          }
        }
      }
      .portfolio_item_section {
        height: 198px;
      }
    }
  }
}
@media screen and (max-width: 434px){
  .portfolio {
    .portfolio_description{
      h2 {
        width: 306px;
      }
      p {
        width: 284px;
      }
    }
  }
}
@media screen and (max-width: 428px){
  .portfolio {
    .portfolio_description{
      h2 {
        width: 279px;
      }
    }
    .portfolio_items{
      .portfolio_item{
        .portfolio_item_action{
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 376px){
  .portfolio {
    .portfolio_description{
      h2 {
        width: 277px;
      }
    }
  }
}
