$color-title: rgba(0, 0, 0, 1);
$color-text: rgba(51, 51, 51, 1);
$background-btn:rgba(0, 0, 0, 1);
$color-border:rgba(0, 0, 0, 1);
$color-subtitle-post: rgba(102, 102, 102);
$color-text-footer: rgb(16, 15, 15);
$background-modal: rgba(102, 102, 102,0.8);
$background-body:rgba(253, 251, 245,1);


