<div class="courses">
  <h2>Курсы</h2>
  <div>
    Обучающий курс — это комплексное обучение всего персонала с гарантированным результатом.
    У нас два предложения по курсам. 1 Базовый курс продолжительностью от 3 до 5 месяцев в котором мы
    обучаем
    персонал основам, стандартам и менеджменту в ресторанном деле. По желанию мы создаём под заказчика
    обучающее
    приложение «Эквио» или «Сервис гуру» для удобной в дальнейшем адаптации и обучения новых
    сотрудников.
    Анализ
    текущего состояния ресторана также входит в пакет «Базовый курс». Тестирование и опросы персонала
    поможет
    скорректировать курс обучения для более высокого результата и оценить текущую ситуацию с УЛВ
    (удовлетворённость, лояльность, вовлечённость)
  </div>

  <div>
    <ul>
      <li>Идеальный Портрет официанта, знакомство.</li>
      <li>Ресторан — это система.</li>
      <li>Основы сервиса</li>
      <li>Типология гостей</li>
      <li>Wow эффект</li>
      <li>Эмоциональный интеллект</li>
      <li>Конфликты, система LAST</li>
      <li>Гость на миллион</li>
      <li>Увеличение прибыли. Данный курс в основном направлен на получение максимальной прибыли.</li>
      <li>Продажи, оптимизация затрат, материальная и не материальна мотивация.</li>
      <li>Методы продаж 1 часть.</li>
      <li>Методы продаж 2 часть.</li>
      <li>Наполняемость чека и правило 3/2.</li>
      <li>Работа с возражениями и отзывы.</li>
      <li>Вкусные слова как продавать дорого.</li>
      <li>Финансовая грамотность</li>
      <li>Мотивация и соревнования+ KPI</li>
      <li>Продажа следующей встречи с гостем.</li>
    </ul>
  </div>



  <div class="action-modal">
    <button class="service-btn">Получить консультацию</button>
  </div>
</div>
