<section class="process">
  <div class="process_image">
    <img src="assets/images/image/make.png" alt="man">
  </div>
  <div class="process_points">
    <div class="process_point_item">
      <h2>Менеджеры</h2>
      <p>Мы работаем с руководящим составом, помогаем определить демотиваторы и устранить их, фильтруем
        команду и создаем графики и ресурсы для функционирования сотрудников. </p>
      <div class="point">
        <span>01</span>
      </div>
    </div>
    <div class="process_point_item">
      <h2>Приложение</h2>
      <p>Наши тренинги проводятся с использованием приложения Эквио или Сервис Гуру и практическими заданиями
        с гостями. Мы также
        формируем план развития вместе с командой и создаем базу знаний.</p>
      <div class="point">
        <span>02</span>
      </div>
    </div>
    <div class="process_point_item">
      <h2>Мотивация</h2>
      <p>Мы также предлагаем мотивационные программы, наставническую группу и создание ценности обучения. И,
        конечно же, мы завершаем наш цикл обучения большим тимбилдингом и награждением лучших
        сотрудников. </p>
      <div class="point">
        <span>03</span>
      </div>
    </div>

  </div>
</section>
